<!DOCTYPE html>
<head>
    <title>index page</title>
    <style>
        #count{
            color: rgb(252, 16, 8);
            font-size: 200px;
            font-weight: 900;
            /* In CSS, the font-weight property assigns a numerical value to define the thickness of the font. The most commonly used values are normal, bold, and lighter. The keyword values range from 100 (thin) to 900 (extra bold) in multiples of 100. */
        }
    </style>
</head>
<body>
    <h1>Page count:<span id="count">{{count}}</span></h1>
</body>
</html>

